.article-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.story-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


