html {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  text-align: center;
  align-items: center;
  font-family: 'Gentium Book Basic', serif;
}


