.story-image {
  position: absolute;
  width: 12rem;
  height: 8rem;
  object-fit: cover;
  padding: 8rem 0 0 0;
}

.article-card {
  width: 15rem;
  height: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  border: 4px solid black;
  border-radius: 8px;
}

a {
  text-decoration: none !important;
  color: black;
}

p,
h1,
h4 {
  color: black;
  padding: 0.5rem;
}
